{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="my-container">


    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to <strong>CricketMaina!</strong>
          <br>
          At CricketMaina, we are passionate about cricket and dedicated to providing cricket enthusiasts with an
          unmatched platform. Our blog is a hub for all things cricket, offering a
          diverse
          range of content, from insightful analysis and the latest news, player profiles, and
          exclusive
          interviews with cricketing legends.

          <br>
          <strong>Who We Are:</strong>
          <br>
          We are a team of avid cricket fans who have come together to create a one-stop destination for all cricket
          lovers. Our
          collective passion for the sport drives us to deliver engaging and informative content that appeals to cricket
          enthusiasts of all ages and backgrounds.
          <br>

          <strong>What We Aim For:</strong>
          <br>
          Our primary goal is to foster a thriving cricket community where fans can come together to share their
          thoughts,
          opinions, and experiences. Whether you're a seasoned cricket follower or a casual fan, we aspire to create a
          welcoming
          environment that encourages discussion, debate, and camaraderie among our readers.
          <br>
          <strong>What Sets Us Apart:</strong>
          <br>
          What makes CricketMaina stand out is our commitment to delivering high-quality and unique
          content. Our team of writers and contributors comprises cricket experts and passionate fans who
          diverse perspectives to every piece we publish. You can trust that the information and insights we provide are
          accurate and up-to-date.
          <br>

          <br>

          Pushpender Rajput Developer <strong>CricketMaina</strong>.
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}